@font-face {
    font-family: 'Antaro';
    src: url('../fonts/antaro/Antaro.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'montserratMedium';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
