/*style*/
body{
    background-color: rgb(143, 206, 166);
    text-align: center;
    margin:auto;
    width:50%;
    font-family: 'montserratMedium', sans-serif;
}

h1{
    text-align: center;
    border: rgb(88, 151, 88) outset;
    color: darkgreen;
    font-size: 50px;
    font-family: 'Antaro', monospace;
}

h2{
    text-align: center;
    border: rgb(88, 151, 88) outset;
    color: darkgreen;
    font-size: 200%;
    margin: auto;
    width: 70%;
    font-family: 'Antaro', monospace;
}

p{
    color: darkgreen;
}

button{
    text-align: center;
    margin: auto;
    display: flex;
    border: red outset;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: rgb(163, 0, 0) outset;
    border-width: 20px;
    border-radius: 20%;
}
/*Id*/
#asideOne{
    background-color: darkgreen;
    float: left;
    height: 100vh;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:80%;
    width: 20%;
}

#asideTwo{
    background-color: darkgreen;
    float: right;
    height: 100vh;
    position:absolute;
    top:0px;
    right:80%;
    bottom:0px;
    left:0px;
    width: 20%;
}

/*psuedos*/
.red:hover{
    text-align: center;
    border: palevioletred outset;
    color: rgb(163, 0, 0);
}

button:hover{
    background-color: darkgreen;
}

a:hover{
    background-color: darkgreen;
    color: white;
}

p:first-child{
    text-indent: 10%;
}



